.App {
  text-align: center;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
  width: 100vw;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

#light {
  background-color: #fff;
  color: black;
}

#dark {
  background-color: #333;
  color: #fff;
}



header {
  /* padding: 10px; */
  /* background-color: #0b3868; */
  /* color: black; */
  width: 100vw;
}

#light header{
  background-color: aqua;
}

#dark header{
  background-color: #0b3868;
}

/* button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
} */

main {
  max-width: 800px;
  margin: 10px auto;
  text-align: left;
}

section {
  margin-bottom: 10px;
}

section>p{
  font-weight: 500;
}

footer {
  padding: 10px;
  width: 100vw;
  background-color: #483737;
}

#light footer{
  background-color: #a45151;
}

#dark footer{
  background-color: #483737;
}

.switch{
  display: flex;
  width: 100vw;
  height: 28px;
  justify-content: center;
  align-items: center;
}

.mode {
  margin-right: 10px;
}